Repository boostcamp-2020/IssueTracker-04, pull requests merged in 2020-10, with the labels that each got.

#23 [SERVER] Express 환경설정
  server/.eslintignore
  server/.eslintrc.js
  server/.gitignore
  server/app.js
  server/bin/www
  server/package.json
  server/routes/index.js
  server/routes/users.js
Labels: server, setting

#32 [iOS] 로그인뷰 레이아웃 초기설정
  ios/IssueTracker/.gitignore
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_black.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_black.imageset/title_black.png
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_white.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_white.imageset/title_white.png
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/Podfile.lock
Labels: ios

#33 [SERVER-OAuth] Passport GitHub OAuth 적용
  server/app.js
  server/package.json
Labels: server, task

#34 [SERVER-OAuth] 서버 디렉토리 모듈화 및 리팩토링
  .vscode/settings.json
  server/.eslintignore
  server/app.js
  server/config/.env
  server/config/passport.js
  server/package.json
  server/routes/auth/github.js
  server/routes/index.js
  server/services/auth/github.js
Labels: server, task

#35 [SERVER-ORM] Sequelize ORM 구축해서 DB 연동
  server/app.js
  server/config/config.js
  server/models/index.js
  server/models/init-models.js
  server/models/issue.js
  server/models/issue_comment.js
  server/models/issue_label_relation.js
  server/models/issue_user_relation.js
  server/models/label.js
  server/models/milestone.js
  server/models/user.js
  server/package.json
  server/routes/auth/github.js
Labels: server, task

#37 [SERVER] 1주차 코드 프리징
  .vscode/settings.json
  server/.eslintignore
  server/.gitignore
  server/app.js
  server/config/config.js
  server/config/passport.js
  server/models/index.js
  server/models/init-models.js
  server/models/issue.js
  server/models/issue_comment.js
  server/models/issue_label_relation.js
  server/models/issue_user_relation.js
  server/models/label.js
  server/models/milestone.js
  server/models/user.js
  server/package.json
  server/routes/auth/github.js
  server/routes/index.js
  server/services/auth/github.js
Labels: server, setting, task

#36 [iOS] IssueListView 초기구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyIssueList.dataset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyIssueList.dataset/dummyIssueList.json
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Common/Util/DummyDataLoader.swift
  ios/IssueTracker/IssueTracker/Common/Util/UIColor+.swift
  ios/IssueTracker/IssueTracker/Common/View/BadgeLabel.swift
  ios/IssueTracker/IssueTracker/IssueList/Adapter/IssueListCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/IssueList/Model/IssueItem.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/IssueList/View/LabelContainerView.swift
  ios/IssueTracker/IssueTracker/IssueList/View/LabelContainerView.xib
  ios/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  ios/IssueTracker/IssueTracker/ViewController.swift
  ios/IssueTracker/Podfile.lock
Labels: ios, task

#38 [IOS] 1주차 코드 프리징
  ios/IssueTracker/.gitignore
  ios/IssueTracker/.swiftlint.yml
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  ios/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/IssueTracker/IssueTracker/AppDelegate.swift
  ios/IssueTracker/IssueTracker/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyIssueList.dataset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyIssueList.dataset/dummyIssueList.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/github_logo.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/github_logo.imageset/github_logo.png
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_black.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_black.imageset/title_black.png
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_white.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/title_white.imageset/title_white.png
  ios/IssueTracker/IssueTracker/Base.lproj/LaunchScreen.storyboard
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Common/Util/DummyDataLoader.swift
  ios/IssueTracker/IssueTracker/Common/Util/UIColor+.swift
  ios/IssueTracker/IssueTracker/Common/View/BadgeLabel.swift
  ios/IssueTracker/IssueTracker/Info.plist
  ios/IssueTracker/IssueTracker/IssueList/Adapter/IssueListCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/IssueList/Model/IssueItem.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/IssueList/View/LabelContainerView.swift
  ios/IssueTracker/IssueTracker/IssueList/View/LabelContainerView.xib
  ios/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  ios/IssueTracker/IssueTracker/IssueTracker.entitlements
  ios/IssueTracker/IssueTracker/IssueTracker.xcdatamodeld/.xccurrentversion
  ios/IssueTracker/IssueTracker/IssueTracker.xcdatamodeld/IssueTracker.xcdatamodel/contents
  ios/IssueTracker/IssueTracker/LICENSE/LICENSE.txt
  ios/IssueTracker/IssueTracker/SceneDelegate.swift
  ios/IssueTracker/IssueTracker/ViewController.swift
  ios/IssueTracker/IssueTracker/login/controller/GithubLoginViewController.swift
  ios/IssueTracker/IssueTracker/login/controller/LoginViewController.swift
  ios/IssueTracker/IssueTracker/login/model/GithubApplication.swift
  ios/IssueTracker/IssueTracker/login/view/GithubLoginWebView.swift
  ios/IssueTracker/IssueTracker/utils/KeychainItem.swift
  ios/IssueTracker/IssueTrackerTests/Info.plist
  ios/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
  ios/IssueTracker/IssueTrackerUITests/Info.plist
  ios/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
  ios/IssueTracker/Podfile
  ios/IssueTracker/Podfile.lock
Labels: ios, task
