Repository boostcamp-2020/IssueTracker-04, pull requests merged in 2020-11, with the labels that each got.

#86 [CLIENT] loginView 레이아웃 설정
  client/dist/app.css
  client/dist/bundle.js
  client/dist/index.html
  client/package.json
  client/public/index.html
  client/src/App.jsx
  client/src/App.scss
  client/src/index.js
  client/src/views/loginPage/loginPage.jsx
  client/src/views/loginPage/loginPage.scss
  client/webpack.config.js
Labels: client, task

#87 [SERVER-ORM] GitHub 로그인 구현
  server/app.js
  server/config/passport.js
  server/routes/index.js
  server/routes/users.js
  server/routes/users/users.js
  server/services/auth/github.js
Labels: server, task

#88 [Client-LOGINVIEW] Client Login View 컴포넌트화
  client/src/App.jsx
  client/src/components/loginView/input/index.jsx
  client/src/components/loginView/input/style.scss
  client/src/components/loginView/submitButton/index.jsx
  client/src/components/loginView/submitButton/style.scss
  client/src/views/loginPage/loginPage.jsx
  client/src/views/loginView/index.jsx
  client/src/views/loginView/style.scss
Labels: client, task

#89 [Client-LOGINVIEW] eslint, prettier 적용
  client/.eslintignore
  client/.eslintrc
  client/.gitignore
  client/.prettierrc
  client/package.json
  client/src/App.jsx
  client/src/components/loginView/input/index.jsx
  client/src/components/loginView/submitButton/index.jsx
  client/src/views/loginView/index.jsx
  client/webpack.config.js
Labels: client, task

#91 [CLIENT-LOGINVIEW] 로그인 뷰 디자인 설정
  client/package.json
  client/src/App.scss
  client/src/assets/svg/github-icon.svg
  client/src/components/loginView/input/index.jsx
  client/src/components/loginView/input/style.scss
  client/src/views/loginView/index.jsx
  client/src/views/loginView/style.scss
  client/webpack.config.js
Labels: client, task

#92 [Client-issueCreateView] 이슈 생성화면 레이아웃
  client/package.json
  client/src/App.jsx
  client/src/components/issueCreateView/assignees/index.jsx
  client/src/components/issueCreateView/assignees/style.scss
  client/src/components/issueCreateView/cancel/index.jsx
  client/src/components/issueCreateView/cancel/style.scss
  client/src/components/issueCreateView/content/index.jsx
  client/src/components/issueCreateView/content/style.scss
  client/src/components/issueCreateView/labels/index.jsx
  client/src/components/issueCreateView/labels/style.scss
  client/src/components/issueCreateView/milestone/index.jsx
  client/src/components/issueCreateView/milestone/style.scss
  client/src/components/issueCreateView/submitButton/index.jsx
  client/src/components/issueCreateView/submitButton/style.scss
  client/src/components/issueCreateView/title/index.jsx
  client/src/components/issueCreateView/title/style.scss
  client/src/views/issueCreateView/index.jsx
  client/src/views/issueCreateView/style.scss
Labels: client, task

#93 [SERVER-issueCreate] 라우팅 설정
  server/app.js
  server/routes/issue/issue.js
  server/services/issue/issue.js
Labels: server, task

#90 [Server-OAUTH] findUserOne 함수를 분리
  server/routes/auth/github.js
  server/services/auth/github.js
Labels: server, task

#94 [CLIENT-IssueListView] 이슈 목록 VIEW 작성 및 관련 Component 작성
  client/.eslintrc
  client/src/App.jsx
  client/src/asset/images/header-imgs.JPG
  client/src/components/Header/index.jsx
  client/src/components/Header/style.scss
  client/src/components/issueListView/Contents-FilterNav/index.jsx
  client/src/components/issueListView/Contents-FilterNav/style.jsx
  client/src/components/issueListView/FilterButton/index.jsx
  client/src/components/issueListView/FilterButton/style.scss
  client/src/components/issueListView/Issue/index.jsx
  client/src/components/issueListView/Issue/style.scss
  client/src/components/issueListView/LabelButton/index.jsx
  client/src/components/issueListView/LabelButton/style.scss
  client/src/components/issueListView/MakeIssueButton/index.jsx
  client/src/components/issueListView/MakeIssueButton/style.scss
  client/src/components/issueListView/MilestoneButton/index.jsx
  client/src/components/issueListView/MilestoneButton/style.scss
  client/src/components/issueListView/SearchBar/index.jsx
  client/src/components/issueListView/SearchBar/style.scss
  client/src/views/issueListView/index.jsx
  client/src/views/issueListView/style.scss
  client/webpack.config.js
Labels: client, task

#96 [SERVER-OAUTH] GitHub Oauth API 서버 완성
  server/app.js
  server/config/statusCode.js
  server/routes/auth/github.js
  server/routes/users/users.js
  server/services/auth/github.js
  server/services/auth/index.js
Labels: server, task

#97 [CLIENT-ISSUELISTVIEW] issue 목록 받아오기 구현
  client/package.json
  client/src/views/issueListView/index.jsx
  client/webpack.config.js
Labels: client, task

#95 [CLIENT-LOGINVIEW] GitHub OAuth Login View완성
  client/src/views/loginView/index.jsx
  client/webpack.config.js
Labels: client, task

#100 [CLIENT-LOGINVIEW] GitHub OAuth Server API 연결 최종
  client/src/views/loginView/index.jsx
Labels: client, task

#101 [SERVER-OAuth] 로그인 완벽 구현
  server/package.json
  server/routes/auth/github.js
  server/routes/index.js
  server/routes/users/users.js
  server/services/auth/github.js
  server/services/auth/index.js
  server/services/utils/jwt.js
Labels: server, task

#102 [CLIENT-IssueListView] top-nav css 구현
  client/src/components/issueListView/FilterButton/index.jsx
  client/src/components/issueListView/FilterButton/style.scss
  client/src/components/issueListView/LabelButton/style.scss
  client/src/components/issueListView/MakeIssueButton/style.scss
  client/src/components/issueListView/MilestoneButton/style.scss
  client/src/components/issueListView/SearchBar/style.scss
  client/src/views/issueListView/index.jsx
  client/src/views/issueListView/style.scss
Labels: client, task

#103 [SERVER] 2주차 코드프리징
  server/app.js
  server/bin/www
  server/config/passport.js
  server/config/statusCode.js
  server/package.json
  server/routes/auth/github.js
  server/routes/index.js
  server/routes/issue/issue.js
  server/routes/users.js
  server/routes/users/users.js
  server/services/auth/github.js
  server/services/auth/index.js
  server/services/issue/issue.js
  server/services/utils/jwt.js
Labels: server, setting, task

#105 feat : 2주차 배포를 위한 코드 리팩토링
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Common/Extension/UICollectionReusableView+.swift
  ios/IssueTracker/IssueTracker/Common/Extension/UICollectionView+.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Controller/IssueDetailSlideViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Model/DetailSlideMockData.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Model/IssueSlideViewDataSourceManager.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Model/MileStone.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/CommentCell.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/EmptyDetailSlideViewHeader.xib
  ios/IssueTracker/IssueTracker/IssueDetail/View/IssueDetailCollectionView.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/IssueDetailCollectionViewHeader.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/IssueDetailSlideViewHeader.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Adapter/IssueSlideVIewCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Contorller/IssueDetailSlideViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Model/DetailSlideKeyword.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Model/IssueSlideViewDataSourceManager.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/AssigneeCell/AssigneeCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/AssigneeCell/AssigneeCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/EmptyDetailSlideViewHeader.xib
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/IssueDetailSlideViewHeader/IssueDetailSlideViewHeader.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/IssueDetailSlideViewHeader/IssueDetailSlideViewHeader.xib
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/LabelCell/LabelCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/LabelCell/LabelCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/MilestoneCell/MileStoneCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/MilestoneCell/MileStoneCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionView.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  ios/IssueTracker/Podfile.lock
Labels: ios, task

#106 iOS LabelListView 및 MilestoneListView 작업 내용 머지
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/AddIssue/Controller/AddIssueViewController.swift
  ios/IssueTracker/IssueTracker/AddIssue/Model/MarkDownRendering.swift
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyLabels.dataset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyLabels.dataset/dummyLabels.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyMilestones.dataset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/dummyMilestones.dataset/dummyMilestones.json
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Common/Extension/Date+.swift
  ios/IssueTracker/IssueTracker/Common/Extension/UIColor+.swift
  ios/IssueTracker/IssueTracker/Common/Extension/UIVIewController+.swift
  ios/IssueTracker/IssueTracker/Common/Util/DummyDataLoader.swift
  ios/IssueTracker/IssueTracker/Common/Util/NetworkManager.swift
  ios/IssueTracker/IssueTracker/Common/View/BadgeLabel.swift
  ios/IssueTracker/IssueTracker/Common/View/SwipableCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/Common/View/SwipeToDeleteCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/IssueDetailCollectionViewHeader.xib
  ios/IssueTracker/IssueTracker/IssueList/Model/IssueItem.swift
  ios/IssueTracker/IssueTracker/IssueList/Model/IssueListDataSourceManager.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.xib
  ios/IssueTracker/IssueTracker/LabelAdd/Controller/LabelAddViewController.swift
  ios/IssueTracker/IssueTracker/LabelAdd/Model/ColorTextFieldManager.swift
  ios/IssueTracker/IssueTracker/LabelAdd/View/CancelButton.swift
  ios/IssueTracker/IssueTracker/LabelAdd/View/ColorBox.swift
  ios/IssueTracker/IssueTracker/LabelAdd/View/RandomButton.swift
  ios/IssueTracker/IssueTracker/LabelList/Adapter/LabelCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/LabelList/Controller/LabelListViewController.swift
  ios/IssueTracker/IssueTracker/LabelList/Model/LabelDatasourceManager.swift
  ios/IssueTracker/IssueTracker/LabelList/Model/LabelDetail.swift
  ios/IssueTracker/IssueTracker/LabelList/Notification/Notification++.swift
  ios/IssueTracker/IssueTracker/LabelList/View/LabelListCell.swift
  ios/IssueTracker/IssueTracker/Login/Controller/LoginViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Adapter/MilestoneCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Controller/MilestoneListViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Model/MilestoneDatasourceManger.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Model/MilestoneDetail.swift
  ios/IssueTracker/IssueTracker/MilestoneList/View/MilestoneDetailView.swift
  ios/IssueTracker/IssueTracker/MilestoneList/View/MilestoneDetailView.xib
  ios/IssueTracker/IssueTracker/MilestoneList/View/MilestoneListCell.swift
  ios/IssueTracker/IssueTracker/SceneDelegate.swift
Labels: ios, task

#107 [SERVER-ISSUELISTVIEW] 이슈 목록 반환 api 최종 구현
  server/routes/issue/issue.js
  server/services/issue/issue.js
Labels: server, task

#108 [CLIENT-LABEL] 라벨 목록 페이지 레이아웃 작업
  client/.gitignore
  client/package-lock.json
  client/src/App.jsx
  client/src/App.scss
  client/src/components/labelView/greenBtn/index.jsx
  client/src/components/labelView/greenBtn/style.scss
  client/src/components/labelView/header/index.jsx
  client/src/components/labelView/header/style.scss
  client/src/components/labelView/labelList/index.jsx
  client/src/components/labelView/labelList/style.scss
  client/src/components/labelView/labelRow/index.jsx
  client/src/components/labelView/labelRow/style.scss
  client/src/components/labelView/whiteBtn/index.jsx
  client/src/components/labelView/whiteBtn/style.scss
  client/src/views/labelView/index.jsx
  client/src/views/labelView/style.scss
Labels: client, task

#111 iOS 레이블 및 마일스톤뷰 작업 내용
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Common/Extension/Date+.swift
  ios/IssueTracker/IssueTracker/Common/Notification/Notification+.swift
  ios/IssueTracker/IssueTracker/Common/View/CancelButton.swift
  ios/IssueTracker/IssueTracker/Common/View/CusorFixTextField.swift
  ios/IssueTracker/IssueTracker/Common/View/RandomButton.swift
  ios/IssueTracker/IssueTracker/Common/View/SwipableCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/Common/View/SwipeToDeleteCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueDetail/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetail/View/CommentCell.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Contorller/IssueDetailSlideViewController.swift
  ios/IssueTracker/IssueTracker/IssueList/Notification/Notification+.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  ios/IssueTracker/IssueTracker/LabelAdd/Controller/LabelAddViewController.swift
  ios/IssueTracker/IssueTracker/LabelList/Adapter/LabelCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/LabelList/Controller/LabelListViewController.swift
  ios/IssueTracker/IssueTracker/LabelList/Notification/Notification++.swift
  ios/IssueTracker/IssueTracker/LabelList/View/LabelListCell.swift
  ios/IssueTracker/IssueTracker/MilestoneAdd/Controller/MilestoneAddViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneAdd/Model/DateTextFieldManager.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Adapter/MilestoneCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Controller/MilestoneListViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Model/MilestoneDatasourceManger.swift
  ios/IssueTracker/IssueTracker/MilestoneList/Model/MilestoneDetail.swift
  ios/IssueTracker/IssueTracker/MilestoneList/View/MilestoneDetailView.swift
  ios/IssueTracker/IssueTracker/MilestoneList/View/MilestoneListCell.swift
Labels: ios, task

#110 [CLIENT-issueDetailView]
  client/.gitignore
  client/package.json
  client/src/App.jsx
  client/src/components/content/index.jsx
  client/src/components/content/style.scss
  client/src/components/dropDown/index.jsx
  client/src/components/dropDown/style.scss
  client/src/components/issueCreateView/assignees/index.jsx
  client/src/components/issueDetailView/commentBox/index.jsx
  client/src/components/issueDetailView/commentBox/style.scss
  client/src/components/issueDetailView/issueControl/index.jsx
  client/src/components/issueDetailView/issueControl/style.scss
  client/src/components/issueDetailView/submitComment/index.jsx
  client/src/components/issueDetailView/submitComment/style.scss
  client/src/components/sideAssignee/index.jsx
  client/src/components/sideAssignee/style.scss
  client/src/components/sideLabel/index.jsx
  client/src/components/sideLabel/style.scss
  client/src/components/sideMilestone/index.jsx
  client/src/components/sideMilestone/style.scss
  client/src/views/issueCreateView/index.jsx
  client/src/views/issueCreateView/style.scss
  client/src/views/issueDetailView/index.jsx
  client/src/views/issueDetailView/style.scss
Labels: client, task

#113 [CLIENT-ISSUELISTVIEW] issue list 받아오는 형식 수정 및 axios header 설정
  client/package-lock.json
  client/src/components/issueListView/MakeIssueButton/index.jsx
  client/src/components/milestoneView/milestoneRow/index.jsx
  client/src/views/issueListView/index.jsx
Labels: client, task

#118 [CLIENT-ISSUELISTVIEW] contents-nav 작업, 각 버튼,issue link 작업
  client/src/components/issueListView/Contents-FilterNav/index.jsx
  client/src/components/issueListView/Contents-FilterNav/style.jsx
  client/src/components/issueListView/Contents-FilterNav/style.scss
  client/src/components/issueListView/Issue/index.jsx
  client/src/components/issueListView/Issue/style.scss
  client/src/components/issueListView/LabelButton/style.scss
  client/src/components/issueListView/MakeIssueButton/style.scss
  client/src/components/issueListView/MilestoneButton/style.scss
  client/src/views/issueListView/index.jsx
  client/src/views/issueListView/style.scss
Labels: client, task

#117 iOS IssueDetailSlideView Edit 화면 및 기능 구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/AddIssue/Controller/AddIssueViewController.swift
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Common/Extension/DateFormatter+.swift
  ios/IssueTracker/IssueTracker/Common/Extension/UIVIewController+.swift
  ios/IssueTracker/IssueTracker/Common/Notification/Notification+.swift
  ios/IssueTracker/IssueTracker/Common/Util/DummyDataLoader.swift
  ios/IssueTracker/IssueTracker/Common/View/BadgeTableViewCell.swift
  ios/IssueTracker/IssueTracker/Common/View/RoundAddButton.swift
  ios/IssueTracker/IssueTracker/IssueDetailEdit/Controller/IssueDetailEditViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetailEdit/Model/DetailEditCellData.swift
  ios/IssueTracker/IssueTracker/IssueDetailEdit/Model/DetailEditDatasourceManager.swift
  ios/IssueTracker/IssueTracker/IssueDetailEdit/Model/DetailNetworkManager.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Adapter/IssueSlideVIewCollectionViewAdapter.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/Controller/IssueDetailSlideViewController.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlide/View/IssueDetailSlideViewHeader/IssueDetailSlideViewHeader.swift
  ios/IssueTracker/IssueTracker/IssueDetailSlideEdit/Controller/DetailSlideEditViewController.swift
  ios/IssueTracker/IssueTracker/IssueFilter/Controller/IssueFilterViewController.swift
  ios/IssueTracker/IssueTracker/IssueFilter/Model/FilterCellData.swift
  ios/IssueTracker/IssueTracker/IssueFilter/Model/FilterSection.swift
  ios/IssueTracker/IssueTracker/IssueFilter/Model/IssueFilterDatasourceManager.swift
  ios/IssueTracker/IssueTracker/IssueList/Model/IssueListDataSourceManager.swift
  ios/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  ios/IssueTracker/IssueTracker/LabelAdd/Controller/LabelAddViewController.swift
  ios/IssueTracker/IssueTracker/Login/Controller/LoginViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneAdd/Controller/MilestoneAddViewController.swift
Labels: ios, task

#116 [SERVER-LABEL-MILESTONE] label , milestone, user 라우터 추가
  server/app.js
  server/config/statusCode.js
  server/models/issue.js
  server/routes/label/label.js
  server/routes/milestone/milestone.js
  server/routes/users/users.js
  server/services/label/index.js
  server/services/milestone/index.js
Labels: server, task

#121 [CLIENT-ISSUELISTVIEW] text tag error 해결, issue detail 뷰 경로 수정
  client/src/components/issueListView/Contents-FilterNav/index.jsx
  client/src/components/issueListView/Issue/index.jsx
Labels: client, task

#123 [SERVER-COMMENT] comment api 구현
  server/app.js
  server/routes/comment/comment.js
  server/services/comment/comment.js
Labels: server, task

#122 키보드 처리 관련 기능 구현
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/CommentAdd/Controller/CommentAddViewController.swift
  ios/IssueTracker/IssueTracker/Common/Extension/UIVIewController+.swift
  ios/IssueTracker/IssueTracker/IssueAdd/Controller/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/IssueList/View/IssueListCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/IssueList/View/LabelContainerView.swift
  ios/IssueTracker/IssueTracker/IssueList/ViewController/IssueListViewController.swift
  ios/IssueTracker/IssueTracker/LabelAdd/Controller/LabelAddViewController.swift
  ios/IssueTracker/IssueTracker/MilestoneAdd/Controller/MilestoneAddViewController.swift
  ios/IssueTracker/Podfile.lock
Labels: ios, task

#124 [CLIENT-MILESTONE] label, milestone 정보 요청하기
  client/src/components/labelView/header/index.jsx
  client/src/components/labelView/header/style.scss
  client/src/components/labelView/labelList/index.jsx
  client/src/components/labelView/labelRow/index.jsx
  client/src/components/labelView/labelRow/style.scss
  client/src/components/labelView/whiteBtn/index.jsx
  client/src/components/labelView/whiteBtn/style.scss
  client/src/components/milestoneView/milestoneList/index.jsx
  client/src/components/milestoneView/milestoneRow/index.jsx
  client/src/views/labelView/index.jsx
  client/src/views/loginView/index.jsx
  client/src/views/milestoneView/index.jsx
Labels: client, task

#126 [SERVER] DETAIL ISSUE GET API]
  server/routes/issue/issue.js
  server/services/issue/issue.js
Labels: server, task

#159 [SERVER] 3주차 코드 프리징
  server/app.js
  server/config/statusCode.js
  server/models/issue.js
  server/routes/comment/comment.js
  server/routes/issue/issue.js
  server/routes/label/label.js
  server/routes/milestone/milestone.js
  server/routes/users/users.js
  server/services/auth/index.js
  server/services/comment/comment.js
  server/services/issue/issue.js
  server/services/label/index.js
  server/services/milestone/index.js
Labels: server, task
